* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
}

.nav a {
  padding-left: 16px;
}

#profile {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #ea4335 #4285f4 #34a853 #fbbc05;
}

.material-icons {
  position: relative;
  border-radius: 100%;
  padding: 8px;
}

.material-icons:hover {
  background-color: #f4f4f4;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 24px;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 480px;
}

.inputbtn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.submitquery {
  margin: 0 4px;
  padding: 8px 16px;
  border: solid 1px #cacaca00;
  border-radius: 4px;
}

.submitquery:hover {
  cursor: pointer;
  border: solid 1px #cacaca;
  box-shadow: 0px 2px 2px #2b272720;
}

#searchbar {
  width: 480px;
  margin: 0 auto;
  padding: 12px 48px;
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  border-color: #cacaca;
}

#searchbar:hover {
  box-shadow: 0px 2px 4px #2b272730;
}

#searchbar:focus {
  outline: none;
}

.content #search {
  position: absolute;
  left: 8px;
  color: rgb(117, 117, 117);
}

.content #voice {
  position: absolute;
  right: 8px;
  color: rgb(117, 117, 117);
}

.content i:hover {
  background: none;
}

.content #voice:hover {
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 24px 16px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
}

#business,
#tnc {
  display: flex;
}

#business li {
  justify-content: flex-start;
  padding-right: 24px;
}

#tnc li {
  justify-content: flex-end;
  padding-left: 24px;
}

#business li a,
#tnc li a {
  color: rgb(117, 117, 117);
}
